%clr {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
%flex-centered {
  display: flex;
  justify-content: center;
  align-self: center;
}
%flex-column {
  display: flex;
  flex-direction: column;
}
%flex-row {
  display: flex;
  flex-direction: row;
}
%flex-row-c-center-i-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
%flex-row-c-end-i-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
%flex-row-c-btw-i-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
%flex-row-i-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
%flex-row-c-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
%flex-column-i-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
%flex-column-i-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
%flex-column-i-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%flex-row-i-end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
%custom-scroll-bar {
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 1rem;
    &-track {
      background: map-get($color, white);
      border-radius: 25px;
    }
    &-thumb {
      margin: 2px;
      background-color: rgb(196, 196, 196);
      border-radius: 25px;
      &:hover {
        background-color: map-get($color, grey-c);
      }
    }
  }
}
